{{extend 'layout.html'}}

<p><a href="{{=URL('create')}}">Utwórz nowy stół</a></p>

{{if len(tablePlayersCounts) > 0:}}
Lista stołów:
<ul>
{{for table in tablePlayersCounts:}}
<li><a href="{{=URL('join', args=table)}}">Stół nr {{=table}} (graczy: {{=tablePlayersCounts[table]}})</a></li>
{{pass}}
</ul>
{{else:}}
<p>Nie ma aktywnych stołów</p>
{{pass}}
