{{extend 'layout.html'}}
 <link href="{{=URL('static', 'poker-css/game.css')}}" rel="stylesheet" type="text/css" />
<a href="{{=URL('leave')}}">Opuść grę</a>
<div id="pokerTable">
	<div id="topRow">
		<div id="topPositions" class="positionsRow">
			<div id="playerPosition-4"> </div>
			<div id="playerPosition-5"> </div>
			<div id="playerPosition-6"> </div>
		</div>
	</div>
	<div id="middleRow"> 
		<div id="leftPositions" class="positionsRow">
			<div id="playerPosition-3"> </div>
			<div id="playerPosition-2"> </div>
			<div id="playerPosition-1"> </div>
		</div>
	
		<div id="centerArea">
			<div id="centerTopArea">
				<div id="tableStateContainer">
					Stan gry:
					<span id="tableState"> </span>
				</div>
				<div id="jackpotContainer">
					Jackpot: $<span id="jackpot">0</span>
				</div>
				<div id="cardsOnTable">
					<!-- Karty na stole: -->
					{{ for i in range(0, 5): }}
					<img src="" class="cardOnTable">
					{{ pass }}
				</div>
			</div>
			<div id="centerMiddleArea">
				<div id="myCards">
					<!-- Moje karty: -->
					{{ for i in range(0, 2): }}
					<img src="" class="myCard">
					{{ pass }}
				</div>
				<div id="controlsContainter">
					<form>
						<input type="text" name="myBid" id="myBid" value="0" class="playerActionInput" disabled>
						<input type="button" onclick="playerAction('call')" value="Call" class="playerActionInput" disabled>
						<!-- <input type="button" onclick="playerAction('check')" value="Check" class="playerActionInput" disabled> -->
						<input type="button" onclick="playerAction('fold')" value="Fold" class="playerActionInput" disabled>
					</form>
				</div>
			</div>
			<div id="centerBottomArea">
				<div id="playerPosition-0"> </div>
			</div>
		</div>
		<div id="rightPositions" class="positionsRow">
			<div id="playerPosition-7"> </div>
			<div id="playerPosition-8"> </div>
			<div id="playerPosition-9"> </div>
		</div>
	</div>
</div>
{{ for i in range(0, 10): }}
		<div class="playerInfo" id="playerInfo-{{=i}}" style="display: none;">
			
			<ul>
				<li><!-- {{=i}} - Nick:  --><span class="playerNick"> </span> ($<span class="playerMoney"> </span>)</li>
				<li><!-- Stan: --> <span class="playerState"> </span></li>
				<li>Blind: <span class="playerBlind"> </span></li>
			</ul>
			<div class="playerButtonContainer">
				<img src="" class="playerButton">
			</div>
		</div>
	{{ pass }}
 <script type="text/javascript">
 /* zmienne używane do testowania funkcji */
test = new Object();
test.cardsOnTable = [{"rank": "2", "suit": "hearts"},
  	{"rank": "ace", "suit": "spades"},
  	{"rank": "3", "suit": "diamonds"}]; /*od 0 do 5 kart*/
test.myCards = [{"rank": "7", "suit": "hearts"},
  	{"rank": "jack", "suit": "spades"} ]; /* 0 lub 2 karty */
test.jackpot = "7567"; /* tekst*/
test.players =  {	0: {"nick": "P1", "money" : 555, "state" : "stanGracza1"},                                           
        			2: {"nick": "P2", "money" : 555, "state" : "stanGracza2"},
        			5: {"nick": "P3", "money" : 555, "state" : "stanGracza3"}
   };/*klucze odpowiadają pozycjom przy stole - NIE ICH ID! , zakres kluczy 0-9 */ 
test.tableState = "Opis stanu gry"; 
test.theButton = "0"; /* Pozycja przy stole gracza z buttonem */
test.bigBlind = {"amount" : 20, "player" : 2};     		//który gracz jest na dużym blindzie i ile on wynosi
test.smallBlind = {"amount" : 20, "player" : 5};       		//który gracz jest na małym blindzie i ile on wynosi
test.currentPlayer = {{=playerPosition}};
test.minBid = 20;
 </script>


 <script type="text/javascript">
var minBid = 0; /*minimalna kwotą jaką można obstawić w danym momencie, zmienia się w czasie gry */
var myPosition = {{=playerPosition}};

 /*stałe: */
var theButtonImage = "{{=URL('static', 'buttons')}}/the-button.jpg";
var bigBlindImage = "{{=URL('static', 'buttons')}}/big-blind.jpg";
var smallBlindImage = "{{=URL('static', 'buttons')}}/small-blind.jpg";
var hiddenCard = "{{=URL('static', 'cards')}}/back-vertical.png";
var cardsDir = "{{=URL('static', 'cards')}}/";
 
 
 /* inicjalizacja stanu gry */
var gameState = new Object();
var refreshRequest = new Object();
/* flaga oznaczająca, czy odświeżanie stanu gdy jest wstrzymane (np aby wysłać komendę gracza) */
var refreshingPaused = false;
var lastModified = 0;

$(window).bind('beforeunload', signalLeaving);
$(window).load(initDisplay(myPosition));
$(window).load(refreshState());
/**
 * Zwraca sciezke do pliku z obrazem danej karty, lub null jeśli nie przekazano karty
 * 
 * @param card
 * @return string path
 */
function cardImage(card) {
	if(card)
		return cardsDir + card.suit + "-" + card.rank + ".png";
	else 
		return hiddenCard;
}

/** 
 * Wyświetla karty na stole na podst. przekazanej tablicy z obiektami card
 * @param Array cardsArray
 */
function updateCardsOnTable(cards) {
	cardImgs = $('#cardsOnTable .cardOnTable');
	for(i=0; i<5; i++)
	{
		cardImgs[i].src = cardImage(cards[i]);
	}
}
/**
 * Wyświetla karty gracza na podst. tablicy z obiektami card
 * @param Array cardsArray
 */
function updateMyCards(cards) {
	cardImgs = $('#myCards .myCard');
	for(i=0; i<2; i++)
	{
		cardImgs[i].src = cardImage(cards[i]);
	}
}
/**
 * Uaktualnia informacje o graczach na podst. tablicy asocjacyjnej. Klucz = pozycja przy stole, nie ID
 * Zeruje stan buttonów - należy je później ustawić
 * @param Array playersArray
 */
function updatePlayers(players) {
	for(i=0; i < 10; i++) {
		if(players.hasOwnProperty(i)) { //miejsce obsadzone
			$('#playerInfo-'+i).show();
			$('#playerInfo-'+i+' .playerNick').text(players[i].nick);
			$('#playerInfo-'+i+' .playerMoney').text(players[i].money);
			$('#playerInfo-'+i+' .playerState').text(players[i].state);
			$('#playerInfo-'+i+' .playerBlind').parent().hide();			
			$('#playerInfo-'+i+' .playerButton').src='';
			$('#playerInfo-'+i).removeClass('activePlayer');
		}else { //miejsce wolne
			$('#playerInfo-'+i).hide();
		}
	}
}
/** 
 * Aktualizuje stan (aktywność) przycisków, myBid,oznaczenie aktualnie aktywnego gracza
 * @param int playerPosition
 * @param int minimalBid
 */
function updateCurrentPlayer(currentPlayerPosition, minimalBid) {
	minBid = minimalBid;
	$('#playerInfo-'+currentPlayerPosition).addClass('activePlayer');
	$('#myBid').val(minBid)
	if(currentPlayerPosition == myPosition)
	{
		$('.playerActionInput').each(function(index) {
			$(this).removeAttr('disabled');
		});
		$('#myBid').text(myBid);
	}else{
		$('.playerActionInput').each(function(index) {
			$(this).attr('disabled', 'true');
		});
	}
	
}
/**
 * Aktualizuje stan interfejsu użytkownika
 */
function updateDisplay(newState) {
	
	if(newState.handNumber > gameState.handNumber && newState.winner != -1) {
		alert("Rozdanie wygrał: " + newState.winner);
	}
	gameState = newState;
	$('#playersCount').text(gameState.players_count);
	
	updatePlayers(gameState.players);
	if(gameState.tableState!="waiting") {
		updateCardsOnTable(gameState.cardsOnTable);
		updateMyCards(gameState.myCards);
		//theButton:
		$('#playerInfo-'+gameState.theButton+' .playerButton')[0].src=theButtonImage;
		//bigBlind:
		$('#playerInfo-'+gameState.bigBlind.player+' .playerBlind').parent().show();
		$('#playerInfo-'+gameState.bigBlind.player+' .playerBlind').text(gameState.bigBlind.amount);
		$('#playerInfo-'+gameState.bigBlind.player+' .playerButton')[0].src=bigBlindImage;
		//smallBlind:
		$('#playerInfo-'+gameState.smallBlind.player+' .playerBlind').parent().show();
		$('#playerInfo-'+gameState.smallBlind.player+' .playerBlind').text(gameState.smallBlind.amount);
		$('#playerInfo-'+gameState.smallBlind.player+' .playerButton')[0].src=smallBlindImage;
		$('#jackpot').text(gameState.jackpot);
		updateCurrentPlayer(gameState.currentPlayer, gameState.minBid)
	}
	$('#tableState').text(gameState.tableState);
	
	

};

/**
 * Inicjalizuje widok stołu - przenosi DIVy z informacjami na właściwe miejsca
 * @param int playerPosition - numer gracza przy obecnym stole
 */
function initDisplay(playerPosition) {
	//karty na stole - nie odkryte
	cardImgs = $('#cardsOnTable .cardOnTable');
	for(i=0; i<5; i++)
	{
		cardImgs[i].src = hiddenCard;
	}
	// karty gracza - nie odkryte
	cardImgs = $('#myCards .myCard');
	for(i=0; i<2; i++)
	{
		cardImgs[i].src = hiddenCard;
	}
	
	//umieszczenie graczy na własciwych miejscach:
	for(i=0; i< 10; i++) {
		iNewPos = (i-playerPosition+10)%10;
		element = $('#playerInfo-'+i).detach();
		$('#playerPosition-'+iNewPos).append(element);
	}
}


/**
 * Wysyła zapytanie o stan gry, a po jego otrzymaniu wywołuje update_display()
 * i wywołuje sama siebie - nieskończona pętla. Oczekiwanie na zmianę stanu jest realizowane po stronie serwera.
 * Jeśli przez 25s nie będzie odpowiedzi - kolejny request
 */
function refreshState(){
	if(refreshingPaused) return;
    refreshRequest = $.ajax({ 
    	url: "{{=URL('game', 'get_state')}}", 
    	data: {'last_modified': lastModified},
    	type: 'post',
    	cache: false,
    	dataType: 'json',
    	success: function(data){
    		console.debug(data)
    		//sprawdzenie numeru stanu gry, na wypadek otrzymania odpowiedzi w złej kolejności
    	if(data.changed==true && data.lastModified > lastModified){
    		console.debug("Stan zmieniony");
    		lastModified = data.lastModified;
    		updateDisplay(data.gameState);
        }else{
	        console.debug("Stan nie zmienił się");
        }
        
        

    },complete: refreshState, timeout: 25000, 
    });
};



	
/*
 * Funkcja wołana przy opuszczeniu przez użytkownika strony
 * Uwaga - ten sam sygnał przy odświeżaniu strony
 */
function signalLeaving() {
		refreshingPaused = true;
		refreshRequest.abort();
};

/**
 * Funkcja wykonuje akcję użytkownika - przesyła string zadany jako parametr oraz kwotę z formularza
 * @param string action
 */
function playerAction(action) {
	
	myBid = $('#myBid').val();
	if(action == 'call' && myBid < minBid) {
		alert('Minimalna stawka to ' + minBid); return;
	}
	
	$('.playerActionInput').each(function(index) {
		$(this).attr('disabled', 'true');
	});
	//przerywam request stanu gry - ten ma pierwszeństwo
	refreshingPaused = true;
	refreshRequest.abort();
	$.ajax({ 
    	url: "{{=URL('game', 'action')}}", 
    	type: 'post',
    	data: {'action': action, 'bid': myBid},
    	cache: false,
    	dataType: 'json',
    	complete: function(xhr, result){
    		console.debug(xhr)
    		/* wartość zwracana dostępna w xhr.responseText, true lub false */
    		if(result != 'success') {
    			$('.playerActionInput').each(function(index) {
					$(this).removeAttr('disabled');
				});
    			
    			alert('Wysyłanie polecenia zakończone niepowodzeniem. Możliwy problem z połączeniem')
    		}
    		//wznawiam odświeżanie stanu gry
   			refreshingPaused = false;
   			refreshState();
    	}
    });
    
    
};
</script>

