.playerInfo{
	border: 5px solid black;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.6);
	display: inline-block;	
	width: 140px;
	height: 140px;
}
.playerInfo ul {
	list-style-type: none;
}
.playerInfo ul li span {
	font-weight: bold;
	text-align: right;
}
.playerButtonContainer {
	text-align: center;
	width: 100%;
}
.playerButton {
	width: 60px;
	height: 60px;
}
.activePlayer {
	border: 5px solid white;
}



#pokerTable {
	background: url('../poker-images/table.jpg');
	border: 1px solid black;
	width: 1000px;
	height: 670px;
}
#pokerTable .positionsRow div {
	/*border: 1px dashed black;*/
	width: 150px; 
	height: 150px;
	float: left;	
}
#pokerTable #topRow {
	width: 100%;
	height: 155px;
	text-align: center;
}
#topPositions {
	width: 600px;
	margin: 0 auto;
}
#topPositions div {
	margin: 0 10px;
}

#pokerTable #middleRow {
	width: 100%;
	float: left;
}
#middleRow #leftPositions {
	width: 155px;
	height: 510px;
	float: left;
}
#middleRow #centerArea {
	width: 650px;
	float: left;
}
#middleRow #rightPositions {
	width: 155px;
	height: 510px;
	float: right;
}
#leftPositions div, #rightPositions div {
	margin: 10px 0;
}
#middleRow #centerTopArea {
	width: 100%;
	float: left;
	height: 160px;
	text-align: center;
}
#middleRow #centerMiddleArea {
	width: 100%;
	float: left;
	height: 160px;
	text-align: center;
}
#middleRow #centerBottomArea {
	text-align: center;
}

#centerBottomArea div {
	width: 150px; 
	height: 150px;
	margin: 0 auto;
}
#cardsOnTable {
	margin: 0 auto;
}

#myCards {
	margin: 10px auto;
}

#tableStateContainer, #jackpotContainer {
	margin-top: 10px;
	color: white;
	font-weight: bold;
	font-size: 14px;
}

